---
import BaseLayout from "../layouts/Base.astro";

import SanityImage from "../components/SanityImage";
import { PortableText } from "astro-portabletext";

import { Company } from "../schemas/documents/company/schema";

const company = await Company.doc({ references: ["team[]"] });
---

<BaseLayout
  title={"About Us"}
  description={`Meet the team behind the scenes at ${company.name}`}
>
  <div class="relative">
    <SanityImage
      className="w-screen h-[50svh] object-cover max-w-[100vw]"
      src={company.banner}
    />
    <div
      class="absolute inset-0 bg-gradient-to-tr from-primary-900 via-primary-500/20 to-transparent"
    >
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-primary-800/50 to-transparent"
    >
    </div>
  </div>
  <section class="max-w-screen-xl flex flex-col items-center">
    <div class="flex flex-col lg:flex-row ~px-0/12 ~gap-8/16">
      <article
        class="relative flex-[2] max-w-screen-md bg-surface rounded-3xl -mt-[12vw] ~p-8/16 flex flex-col ~gap-8/12"
      >
        <div class="flex gap-4">
          <SanityImage
            src={company.icon}
            className="w-6 h-6 object-cover rounded-full"
          />
          <p class="text-prose text-lg font-medium italic">
            {company.tagline}
          </p>
        </div>
        <hr class="border-t" />
        <div
          class="prose prose-zinc sm:prose-lg prose-a:break-all [&>:first-child]:~text-lg/2xl [&>:first-child]:font-light [&>:first-child]:!leading-[2.5cap]"
        >
          <PortableText value={company.about} />
        </div>
      </article>
      <aside class="flex-[1.2] rounded-3xl flex flex-col gap-10">
        <div class="flex flex-col gap-8">
          <div class="flex items-center gap-10">
            <h3 class="font-display text-xl text-prose">Our Team</h3>
            <hr class="flex-1 border-t border-line" />
          </div>
          <div class="flex flex-col gap-6">
            {
              company.team?.map((person) => {
                return (
                  <div class="flex gap-6 items-center">
                    <SanityImage
                      src={person.image}
                      className="~size-12/16 rounded-full"
                    />
                    <div class="flex flex-col">
                      <h3 class="font-prose font-bold text-lg text-primary-800">
                        {person.name}
                      </h3>
                      <p class="font-light text-sm text-primary-800">
                        {person.role}
                      </p>
                    </div>
                  </div>
                );
              })
            }
          </div>
        </div>
      </aside>
    </div>
  </section>
</BaseLayout>
